<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/io/connectors"
            deprecated="false"
            factory-class="org.knime.ext.azure.fabric.node.connector.FabricWorkspaceConnectorNodeFactory"
            hidden="false">
      </node>
   </extension>
   <extension
         point="org.knime.core.PortType">
      <portType
            color="#0FCDA4"
            hidden="false"
            name="Microsoft Fabric"
            objectClass="org.knime.ext.azure.fabric.port.FabricWorkspacePortObject"
            objectSerializer="org.knime.ext.azure.fabric.port.FabricWorkspacePortObject$Serializer"
            specClass="org.knime.ext.azure.fabric.port.FabricWorkspacePortObjectSpec"
            specSerializer="org.knime.ext.azure.fabric.port.FabricWorkspacePortObjectSpec$Serializer">
      </portType>
   </extension>

</plugin>
